<?php
/**
 * {{ sentenceCase name }} Styleguide Index - Partial
 *
 * @package TenUpTheme
 */

/*
 * Use this to include ALL the example variations you think we should demonstrate
 * Don't forget to include this partial in [theme]/templates/page-styleguide.php
 */
?>
<section class="uikit__section" id="{{ kebabCase name }}">
	<h2 class="heading">{{ sentenceCase typePath }}: {{ sentenceCase name }}</h2>
	<div class="content">
		<?php
			get_template_part(
				'partials/{{typePath}}{{kebabCase name}}/styleguide/example',
				'default'
			);
			?>
	</div>
</section>

